<?php /** @var $block \Linets\CustomerWebpayRest\Block\Onepage\Success */ ?>

<?php $successMessage = $block->getSuccessMessage();?>
<div class="checkout-success">
    <div class="messages">
        <?php if(!empty($successMessage)):?>
            <div class="message-success success message">
                <div>
                    <h2>Detalles del pago con Webpay</h2>
                    <hr>
                    <?php if(isset($successMessage['details'])):?>
                        <?php foreach ($successMessage['details'] as $item):?>
                            <?php if(isset($item['commerce_code'])):?>
                                <p>
                                    <b>Código comercio:</b> <?php echo $item['commerce_code'];?>
                                </p>
                            <?php endif;?>
                            <?php if(isset($item['transaction_reponse'])):?>
                                <p>
                                    <b>Respuesta de la Transacción:</b> <?php echo $item['transaction_reponse'];?>
                                </p>
                            <?php endif;?>

                            <?php if(isset($item['response_code'])):?>
                                <p>
                                    <b>Código de la Transacción:</b> <?php echo $item['response_code'];?>
                                </p>
                            <?php endif;?>

                            <?php if(isset($item['amount'])):?>
                                <p>
                                    <b>Monto:</b> <?php echo $item['amount'];?>
                                </p>
                            <?php endif;?>

                            <?php if(isset($item['buy_order'])):?>
                                <p>
                                    <b>Orden de Compra:</b> <?php echo $item['buy_order'];?>
                                </p>
                            <?php endif;?>

                            <?php if(isset($item['transaction_date'])):?>
                                <p>
                                    <b>Fecha de la Transacción:</b> <?php echo $item['transaction_date'];?>
                                </p>
                            <?php endif;?>

                            <?php if(isset($item['transaction_hour'])):?>
                                <p>
                                    <b>Hora de la Transacción:</b> <?php echo $item['transaction_hour'];?>
                                </p>
                            <?php endif;?>

                            <?php if(isset($item['card'])):?>
                                <p>
                                    <b>Tarjeta:</b> <?php echo $item['card'];?>
                                </p>
                            <?php endif;?>

                            <?php if(isset($item['authorization_code'])):?>
                                <p>
                                    <b>Código de autorización:</b> <?php echo $item['authorization_code'];?>
                                </p>
                            <?php endif;?>

                            <?php if(isset($item['payment_type'])):?>
                                <p>
                                    <b>Tipo de pago:</b> <?php echo $item['payment_type'];?>
                                </p>
                            <?php endif;?>

                            <?php if(isset($item['payment_type'])):?>
                                <p>
                                    <b>Tipo de cuotas:</b> <?php echo $item['instalments_type'];?>
                                </p>
                            <?php endif;?>

                            <?php if(isset($item['installments_number'])):?>
                                <p>
                                    <b>Número de cuotas:</b> <?php echo $item['installments_number'];?>
                                </p>
                            <?php endif;?>

                            <?php if(isset($item['installments_amount'])):?>
                                <p>
                                    <b>Monto de cuota:</b> <?php echo $item['installments_amount'];?>
                                </p>
                            <?php endif;?>

                            <hr>
                        <?php endforeach;?>
                    <?php endif;?>

                </div>
            </div>
        <?php endif;?>

    </div>

    <br>
    <?php if ($block->getOrderId()) :?>
        <?php if ($block->getCanViewOrder()) :?>
            <p><?= $block->escapeHtml(__('Your order number is: %1.', sprintf('<a href="%s" class="order-number"><strong>%s</strong></a>', $block->escapeUrl($block->getViewOrderUrl()), $block->getOrderId())), ['a', 'strong']) ?></p>
        <?php  else :?>
            <p><?= $block->escapeHtml(__('Your order # is: <span>%1</span>.', $block->getOrderId()), ['span']) ?></p>
        <?php endif;?>
        <p><?= $block->escapeHtml(__('We\'ll email you an order confirmation with details and tracking info.')) ?></p>
    <?php endif;?>

    <?= $block->getAdditionalInfoHtml() ?>

    <div class="actions-toolbar">
        <div class="primary">
            <a class="action primary continue" href="<?= $block->escapeUrl($block->getContinueUrl()) ?>"><span><?= $block->escapeHtml(__('Continue Shopping')) ?></span></a>
        </div>
    </div>
</div>
<br><br>
